:root {
  --color: #333333;
  --accent-color: #eb7d0f;
}

html {
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 420px;
  margin: 0 auto;
  position: relative;
}

.title {
  cursor: pointer;
  padding: 0 1rem;
}

.title:active {
  text-decoration: underline;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-items .item {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  list-style-type: none;
  padding: 1rem;
  width: 50%;
  height: auto;
}

.list-items .item:active {
  background-color: #f0f0f0;
  border-radius: 1rem;
}

.list-items .item .item-img {
  border-radius: 1rem;
  height: 180px;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
  width: 180px;
}

.list-items .item .item-title {
  margin: 0.5rem 0 0 0;
}

.list-items .item .item-price {
  margin: 0;
}

.list-items .item .item-title {
  color: var(--accent-color);
}

.cart-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: inline-grid;
  padding: 0.8rem;
  place-content: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.cart-button.invisible {
  visibility: hidden;
}

.cart-button:active {
  filter: brightness(1.1);
}

.cart-button .icon {
  width: 32px;
  height: 32px;
}

.cart-list {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  visibility: hidden;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.cart-list.visible {
  visibility: visible;
}

.cart-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 2.2rem;
}

.cart-close .icon {
  height: 24px;
  width: 24px;
}

.cart-list .cart-item {
  justify-content: flex-start;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

.cart-list .cart-item-img {
  border-radius: 0.5rem;
  height: 80px;
  margin-right: 1rem;
  width: 80px;
  object-fit: cover;
  float: left;
}

.cart-item .cart-item-title {
  margin: 0;
}

.cart-item-info {
  margin: 0;
}
